
body {	background-color:  rgba(32, 111, 45, 1);
		background: #636363;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		color:#942929;
}
h1{
padding-top: 30px;
	text-align: center;
}
#description{text-align: center; font-size: 20px;padding-bottom:50px; }



main {
background-color:rgba(253, 163, 94, 1);
background: #636363;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


text-align: center;
	min-height: 650px;
	max-width:850px; 
border:solid 0px;
box-shadow:inherit;
border-radius: 50px;
margin:0 auto;
margin-top: 100px;
}

input, textarea, option,#dropdownn{
	background-color: #fff7a3;
	border-radius: 10px 10px 10px 10px;

}
#email, #name,#sname{height: 40px;min-width: 260px; }

#name-label,#email-label{padding-right:50px;font-size: 20px;
font-weight: bolder; }
#sename{padding-right:30px;font-size: 20px;
font-weight: bolder; }



.myName:focus, .myName:hover{background-color: white;}
section{
font-size: 20px;
font-weight: bolder;
padding-top: 30px;

}

article
{
padding-bottom: 20px;
}
.gender{font-size: 15px;}

.areatext{width: 500px; height:120px;}

button{margin-bottom:50px; width: 160px; height: 50px;
	background-color: #636363;
background: linear-gradient(to left, #a2ab58, #636363);
color:#942929;
 font-weight: bold;
}

button:hover{
background-color: #636363;
background: linear-gradient(to right, #a2ab58, #636363);
font-size: 15px;

}

@media screen and (max-width: 692px) {

.areatext{width: 300px; height:120px;}


}